<style>

body {
	background-color:#676570;
    color:#ECECEC;
	font-family: Amatic SC;
			}

h1 {
    color: white;
    font-family: Amatic SC;
    font-size: 81px;
    text-align: center;
}

p {
    font-family: Amatic SC;
    font-size: 15px;
}
</style>

